body {
    height: 100vh;
    background-color: #1d6347;
}

/* Possible colours for header and footer

Burgundy: #800020 — a classic deep burgundy with rich,
warm undertones.
Wine Red: #8B0000 — a dark,
intense wine color.
Maroon: #800000 — a deep,
muted red with brown undertones.
Deep Burgundy: #610b22 — an even darker,
more muted burgundy. */

#navbar {
    background-color: #212529;
    border-bottom: 2px solid #ff3c38;
    color: #6c8ead;
}
/* Alert Messages */
.success {
    color: #6c8ead;
    font-weight: bold;
    background-color: #fff275;
    border: 4px solid #6c8ead;
}
.error {
    color: #6c8ead;
    font-weight: bold;
    background-color: #ff3c38;
    border: 4px solid #6c8ead;
}
/* Header */
header {
    margin-top: -3vh;
}

.display-1 {
    font-weight: bold;
}

.lead {
    font-weight: 100px;
}

.card {
    background-color: #fff275;
    width: 18rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.52);
    border: 3px solid #1d6347;
}

.card-body {
    border-top: 2px solid #333;
}

#container {
    background-color: #ff3c38;
    padding: 30px 50px;
    border-radius: 10px;
    border: 4px solid black;
    ;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.52);
}

.btn-outline-secondary {
    background-color: #6c8ead;
    color: #1d6347;
    font-weight: bold;
    border: 4px solid #1d6347;
    letter-spacing: 1px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.btn-outline-secondary:hover {
    background-color: #1d6347;
    color: #ff3c38;
    border: 4px solid #ff3c38;
}
.home-btn {
    min-height: 45px;
    min-width: 125px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.orange-title {
    color: #ff3c38;
    border-bottom: 3px solid #ff3c38;
}
/* ------------------------------------------- Footer */

/*Burgundy: #800020 — a classic deep burgundy with rich,
warm undertones. Wine Red: #8B0000 — a dark,
intense wine color. Maroon: #800000 — a deep,
muted red with brown undertones. Deep Burgundy: #610b22 — an even darker,
more muted burgundy. */

#footer {
    background-color: #212529;
    width: 100%;
    border-top: 2px solid #ff3c38;
}

#footer .footer-text * {
    margin-bottom: 0.5rem;
}

/* Override Bootstrap styling which was preventing copyright info and social links spacing */
#footer .row>* {
    flex-shrink: 1;
    width: auto;
}

/* Text Styling */
/* Mimic h4 style to preserve semantic HTML */
.header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.copyright {
    font-size: small;
}

/* Enable layout styling of social links */
#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    min-width: 10rem;
}

/* Style social links */
#footer ul a {
    color: var(--dark-text-color);
    font-size: 2rem;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#footer ul a:hover {
    color: var(--highlight-color2);
}

#footer ul a:active {
    border: 2px dashed var(--highlight-color2);
    border-radius: 20%;
}

/* My Cards page */
#user-cards .card {
    min-height: 364px;
}
