body {
    height: 100vh;
    background-color: #1d6347;
}

/* Possible colours for header and footer

Burgundy: #800020 — a classic deep burgundy with rich,
warm undertones.
Wine Red: #8B0000 — a dark,
intense wine color.
Maroon: #800000 — a deep,
muted red with brown undertones.
Deep Burgundy: #610b22 — an even darker,
more muted burgundy. */

/*--------------------------------------------- Navbar Styles */
#navbar {
    background-color: #212529;
    border-bottom: 2px solid #ff3c38;
}

.navbar-brand {
    color: #6c8ead;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.navbar-brand:hover {
    color: #ff3c38;
}
.nav-link {
    color: #6c8ead;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.nav-link:hover {
    color: #ff3c38;
}
.navbar-nav .nav-link.active {
    color: #ff3c38;
    text-decoration: underline;
}

.navbar-toggler {
    border: 2px solid #ff3c38;
    background-color: #1d6347;
}

.navbar-toggler-icon {
    color: #ff3c38;
}
/* Alert Messages */
.success {
    color: #333;
    font-weight: bold;
    background-color: #3de04d;
    border: 4px solid #333;
}
.error {
    color: #333;
    font-weight: bold;
    background-color: #ff3c38;
    border: 4px solid #1d6347;
}
/* Alert message for no cards on homescreen */
.alert.alert-warning {
    color: black;
    border: 4px solid black;
}

/* Header */
header {
    margin-top: -3vh;
}

.display-1 {
    font-weight: bold;
}

.display-4 {
    font-weight: bold;
}

/*-------------------------------------------- About Page */
hr {
    border: 3px solid #212529;
    opacity: 0.75;
    width: 75%;
}
/* -------------------------------------------Card Styling */
/* Tweak card styling for home page */
.card.card-home {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

/* Card styling for user-card page */
.card-mb {
    margin-bottom: 3rem;
}
.card {
    background-color: #fff275;
    width: 18rem;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.52);
    border: 3px solid #1d6347;
}

.card-body {
    border-top: 2px solid #333;
}

/* Card title styles for homepage and my-cards page */
.card-title {
    font-size: 1.4rem;
    font-weight: bold;
}

/* ------------------------------------Home Page Logged In */

#header {
    background-color: #fff275;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0);
}
#container {
    background-color: #ff3c38;
    padding: 5px 45px 20px;
    border-radius: 10px;
    border: 4px solid black;
    ;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.52);
}

.btn-outline-secondary {
    background-color: #6c8ead;
    color: #1d6347;
    font-weight: bold;
    border: 4px solid #1d6347;
    letter-spacing: 1px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.btn-outline-secondary:hover {
    background-color: #1d6347;
    color: #ff3c38;
    border: 4px solid #ff3c38;
}
.home-btn {
    min-height: 45px;
    min-width: 125px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* -----------------------------------Home Page Logged Out */
.orange-title {
    color: #ff3c38;
    border-bottom: 3px solid #ff3c38;
}
.yellow-background {
    background-color: #fff275;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.52);
}
.large {
    font-size: 1.7rem;
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
/* ------------------------------------------- Footer Styles */

#footer {
    background-color: #212529;
    width: 100%;
    border-top: 2px solid #ff3c38;
}

/* Layout styling of social links */

#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    min-width: 10rem;
}

/* Style social links */
#footer ul a {
    /* color: var(--dark-text-color); */
    color: #6c8ead;
    font-size: 2rem;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#footer ul a:hover {
    color: #ff3c38;
}

#footer ul a:active {
    border: 2px dashed #ff3c38;
    padding: 10px;
    border-radius: 20%;
}

#footer p {
    margin-bottom: 0.5rem;
    color: #6c8ead;
}

#footer .copyright {
    margin-bottom: 1rem;
}

/* Override Bootstrap styling which was preventing copyright info and social links spacing */
#footer .row>* {
    flex-shrink: 1;
    width: auto;
}

/* Text Styling */
/* Mimic h4 style to preserve semantic HTML */
.header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.copyright {
    font-size: small;
}


/* My Cards page */
#user-cards .card {
    min-height: 364px;
}

#form-body {
    /* background-color: #6c8ead; */
    background-color: #fff275;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #212529;
}

/* JavaScript Class to focus on Edit Card Form */
.focus {
    border: 4px solid #1d6347 !important;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #6c8ead;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

/* Registration Page */

.btn-signup {
    background-color: #fff275;
    color: #333;
    font-weight: bold;
    border: 2px solid #333;
}

/* About Page */

.about-content {
    background-color: #fff275;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.52);
}
.feedback-form {
    background-color: #fff275;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.52);
    padding: 20px;
}

/* Media Queries */
/* Home page. Ensure card container doesn't exceed screen-width on screen-sizes < 425px */

@media screen and (max-width: 425px) {
    #container {
        max-width: 100%;
        padding: 0px 25px 15px;
    }
    #demo-card {
        max-width: 100%;
    }
    #card-container {
        margin-bottom: 2rem;
    }
}

