{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="text-center my-4">My Cards</h1>

<div class="container-fluid">
    <div class="row">
        {% for card in cards %}
        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card mx-auto">
                {% comment %} {% if card.featured_image.url|slice:"-11:" == "placeholder" %} {% endcomment %}
                {% if 'placeholder' in card.featured_image.url %}
                <img src="{% static 'images/default-image.png' %}" alt="Cartoon image of a roulette wheel." class="card-img-top">
                {% else %}
                <img src="{{ card.featured_image.url }}" alt="{{ card.title }}">
                {% endif %}"
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text mt-2">{{ card.content }}</p>
                    <p> {{ card.created_on|date:"F j, Y" }}</p>
                </div>
            </div>
            <hr>
            <div class="text-center mt-2">
                {% comment %} <a href="{% url 'edit_card' card.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{% url 'delete_card' card.id %}" class="btn btn-outline-danger btn-sm">Delete</a> {% endcomment %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number}}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
